{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<style>
.card .form-control{font-size:14px}
</style>

<div class="container-fluid">
    <div class="card p-4">
        {% if messages %}
            <ul class="messages list-unstyled" id="msg_display">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }} font-weight-bold p-3 rounded" {% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        <button type="button" class="close mr-3 mb-2 text-danger font-weight-bold" onclick="dismissFunction()">&times;</button>
                        <span class="ml-3">{{ message }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-7 pl-0">
                    <a class="btn btn-outline-warning button-33 btn-sm" href="/{{object.workspace.slug}}">
                        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back
                    </a>
            </div>
            <div class="col-5 pr-0 text-right">
                 <select name="issue_status" id="issue_status_{{object.id}}" class="btn btn-success button-33 mb-2"
                    onchange="issue_status_change({{object.id}})">
                    <option value="1" {% if object.issue_status == '1' %}selected{% endif %}>Not Started</option>
                    <option value="2" {% if object.issue_status == '2' %}selected{% endif %}>In Progress</option>
                    <option value="3" {% if object.issue_status == '3' %}selected{% endif %}>In Review</option>
                    <option value="4" {% if object.issue_status == '4' %}selected{% endif %}>Completed</option>
                    <option value="5" {% if object.issue_status == '5' %}selected{% endif %}>Cancelled</option>
                </select>

                <!-- <span class="dropdown" style="margin-top: 10px;">
                    <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus-circle fa-lg" style="font-size: 32px;"></i>
                    </a>
                    <span class="dropdown-menu">
                        <a class="dropdown-item" href="#">Andrew</a>
                        <a class="dropdown-item" href="#">John</a>
                        <a class="dropdown-item" href="#">Adam</a>
                    </span>
                </span> -->
            </div>
        </div>
        <div class="row mt-2 pt-2 pb-2 border-top">
                    <span class="font-weight-bold text-info text-capitalize ml-3 pt-1">Issue - &nbsp; {{object.title}}</span>
        </div>

        <div class="row p-0">
            <div class="col-lg-7 col-md-7 col-sm-12 bodycol7 pr-1 pt-2"">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small for="planned_start_end_date">Planned Start</small>
                            <div class="mb-3">
                                <input type="text" class="form-control" id=""
                                    name="" disabled placeholder="{% if object.planned_start_date %}{{object.planned_start_date|date:'d-m-Y H:i'}}{% endif %}">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small for="planned_start_end_date">Planned End</small>
                            <div class="mb-3">
                                <input type="text" class="form-control id_date" id=""
                                    name="" disabled placeholder="{% if object.planned_end_date %}{{object.planned_end_date|date:'d-m-Y H:i'}}{% endif %}">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small for="actual_start_end_date">Actual Start</small>
                            <div class="mb-3">
                                <input type="datetime-local" class="form-control id_date" id="actual_start_date"
                                    name="actual_start_date">
                            <small class="ml-3 font-weight-bold text-danger">{% if object.actual_start_date %}{{object.actual_start_date|date:'d-m-Y H:i'}}{% endif %}</small>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small for="actual_start_end_date">Actual End</small>
                            <div class="mb-3">
                                <input type="datetime-local" class="form-control id_date" id="actual_end_date"
                                    name="actual_end_date">
                            <small class="font-weight-bold text-danger">{% if object.actual_end_date %}{{object.actual_end_date|date:'d-m-Y H:i'}}{% endif %}</small>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small for="priority">Priority</small>
                            <div class="mb-3">
                                <select class="form-control" name="priority">
                                    <option value="4" {% if object.priority == '4' %}selected{% endif %}>Critical</option>
                                    <option value="1" {% if object.priority == '1' %}selected{% endif %}>High</option>
                                    <option value="2" {% if object.priority == '2' %}selected{% endif %}>Medium</option>
                                    <option value="3" {% if object.priority == '3' %}selected{% endif %}>Low</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <small>Assigned To</small>
                            <div class="mb-3">
                                <select class="form-control" name="assigned_to">
                                    {% for employee in employees %}
                                        <option value="{{employee.id}}" {% if object.assigned_to.id == employee.id %} selected {% endif %}>{{employee.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                         
                        <div class="col-6">
                            <small for="Description">Description</small>
                            <textarea name="description" id="description" placeholder="Type something.." rows="3"
                                class="form-control">{% if object.description %}{{object.description}}{% endif %}</textarea>
                        </div>
                        <div class="col-6">
                            <label>File</label>
                            {% if object.file %}
                                <small class="ml-5">A file exist: </small>
                                <a href="{{object.file.url}}" class="text-danger" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                            {% endif %}
                            <input type="file" class="form-control" name="file">
                        </div>                             
                    </div>
                    <br>
                   <div class="col-12 pull-right text-right mb-5">
                    <input type="submit" class="btn btn-success button-33"
                        value="Update">
                   </div>
                </form>
                    <!-- <div class="col-12"><br>
                            <input type="text" class="form-control" placeholder="Add a to-do list item">
                        </div>  -->
                         <div class="row text-center" id="footer">
                             <div class="col-6 text-left">Assigned by- {{object.assigned_by}}</div>
                            <div class="col-6 text-right">on dt- {{object.created_on|date:'d-m-Y H:i'}}</div>
                    </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 bodycol5 bg-secondary-1">
                <!------------------------ multiple taskmanagertabs with their multiple panels to manage all the data in a single page  -->
                <div class="row taskmanagertab">
                    <button class="taskmanagertablinks" style="width: 24%;padding:5px 5px; margin:0;text-align:center"
                        onclick="opentaskmanagertabs(event, 'taskmanager_comments')" id="defaultOpen"><small>Comments</small></button>
                    <button class="taskmanagertablinks" style="width: 24%;padding:5px 5px; margin:0;text-align:center;display:none"
                        onclick="opentaskmanagertabs(event, 'taskmanager_documents')"><small>Documents</small></button>
                    <button class="taskmanagertablinks" style="width: 24%;padding:5px 5px; margin:0;text-align:center;display:none"
                        onclick="opentaskmanagertabs(event, 'taskmanager_meetings')"><small>Meetings</small></button>
                    <button class="taskmanagertablinks" style="width: 24%;padding:5px 5px; margin:0;text-align:center;display:none"
                        onclick="opentaskmanagertabs(event, 'taskmanager_issues')"><small>Issues</small></button>
                </div>

                <div id="taskmanager_comments" class="issuemanagertabcontent">
                    <!-- comment section -->
                    <div class="container-fluid p-1 pt-0">
                        <!-- header options -->
                        <div class="row" style="display:none">
                            <div class="col-lg-8 col-md-6">
                                <span class="btn-group" role="group" aria-label="toggle_button">
                                    <button type="button" id="allmessages" class="btn btn-primary btn-sm"><small>All Messages</small></button>
                                    <button type="button" id="replylater" class="btn btn-secondary btn-sm"><small>Reply Later</small></button>
                                </span>
                            </div>
                            <div class="col-lg-4 col-md-6 text-right">
                                <a href="#"><small>Show Receipt</small></a>
                            </div>
                        </div>
                        <!-- chatcontent -->
                        {% for comment in comments %}

                        <div class="row mt-3 pl-1 pr-1 pb-0">
                                {% if request.session.user_name == comment.user.name %}
                                    <div class="offset-4 col-8 chatbox bg-info-1">
                                        <span>{{comment.comment}}</span><br>
                                        <small style="font-size:9px">
                                            {{comment.created_on|date:'d-m-Y'}} | {{comment.created_on|date:'H:i'}}
                                        </small> -&nbsp;
                                        <b style="font-size:9px" class="text-capitalize">me</b> <!-- sender -->
                                    </div>

                                {% else %}
                                    <div class="col-8 chatbox bg-success-1">
                                        <span>{{comment.comment}}</span></br>
                                        <small style="font-size:9px;">({{comment.created_on|date:'d-m-Y'}} | {{comment.created_on|date:'H:i'}}</small>&nbsp;
                                        <small  style="font-size:9px" class="text-capitalize">{{comment.user}})</small> <!--reciver -->
                                    </div>
                                {% endif %}                   
                        </div> 
                        {% endfor %}                           
                      {% comment %} chat content end {% endcomment %}

                        <!-- comment box here -->
                        <div class="row searchrow" id="searchbox">
                        <div class="col-12">
                            <form action="{% url 'issue-comment-add' id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" id="issuechattxt" onkeyup="EnableDisable(this)" placeholder="Type your comment here..." class="form-control"
                                    aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="comment">
                                    <div class="input-group-append">
                                        <input id="issuechatbtnSubmit" disabled="disabled" type="submit" value="Send" class="btn btn-success button-33 btn-sm">
                                    </div>
                                </div>
                            </form>
                           
                              <script type="text/javascript">
                        function EnableDisable(issuechattxt) {
                            //Reference the Button.
                            var issuechatbtnSubmit = document.getElementById("issuechatbtnSubmit");
                    
                            //Verify the TextBox value.
                            if (issuechattxt.value.trim() != "") {
                                //Enable the TextBox when TextBox has value.
                                issuechatbtnSubmit.disabled = false;
                            } else {
                                //Disable the TextBox when TextBox is empty.
                                issuechatbtnSubmit.disabled = true;
                            }
                        };
                    </script>
                        </div>
                        </div>
                    </div>
                    <!-- default for reply later message -->
                    <div class="container-fluid" id="defaultmessage" style="display: none;">
                        <div class="text-center" style="margin: 100px auto;">
                            <img src="/static/img/undraw_Typing_re_d4sq.svg" alt="" style="width: 100px;height:100px">
                            <h4>No Message Yet</h4>
                            <p>Mark messages as "Reply Later" in the updates tab to<br>
                                filter them here so that you can reply them later.</p>
                        </div>
                    </div>
                    <!-- default for reply later message -->
                </div>
                <div id="taskmanager_documents" class="taskmanagertabcontent">
                    <!-- dashboard section -->
                    <div class="container-fluid">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default"><i
                                        class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div style="border-bottom: 1px solid #ccc;margin-bottom: 8px;margin-top: 5px;">
                            <small>Documents</small>
                        </div>
                        <div style="border: 1px solid #ccc;border-radius:5px;background-color: #fff;padding:5px">
                            <div><b><i class="fa fa-file color-primary"></i> Untitled folder</b> <br>
                                <ul class="list-inline">
                                    <li class="list-inline-item">• 1 files</li>
                                    <li class="list-inline-item">• Created By Vishal Yadav </li>
                                    <li class="list-inline-item">• Thu, Aug 19, 2021 3:28 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="taskmanager_meetings" class="taskmanagertabcontent">
                    <!-- dashboard section -->
                    <div class="container-fluid">
                        <div style="border: 1px solid #ccc;border-radius:5px;background-color: #fff;padding:5px">
                            <div class="col-8">
                                <small> Thursday 1 hrs 0 mins</small> <br>
                                <h4>Demo Meeting Scheduled</h4>
                                <small>06:00 PM at </small>
                            </div>
                            <div class="col-3">
                                <i class="fa fa-clock"></i>
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="taskmanager_issues" class="taskmanagertabcontent">
                    <!-- dashboard section -->
                    <div class="container-fluid">
                        <br>
                        <h2>Issues</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/issue_status_change.js'%}"></script>

{% endblock %}