{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<style>
    .card{
        min-height:400px 
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-1 shadow col-md-10 card p-4 bg-light">
            <h5 class="text-dark">
                <a href="/" class="font-weight-bold text-dark pt-3">
                    <b><i class="fa fa-chevron-left"></i></b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="text-dark text-capitalize">{{obj.title}}</span>
                <small class="pull-right text-dark">{{obj.created_at|date:'M d, Y'}}</small>
            </h5><hr/>
            <p class="mt-3">{{obj.content}}</p>
              <a href="#" title="click on this link to visit..">click on this link to visit..</a>
        </div>
    </div>
</div>

{% endblock %}